<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJs</title>
    <link rel="stylesheet" href="./src/css/style.css" />
    <link rel="shortcut icon" href="./src/icon/vue.png" type="image/x-icon" />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

    <div id="app">
      <button @click="show = !show">Скрыть или показать</button>
      <p v-if="show">
        Текст, который может стать невидимым
      </p>

      <p v-else>
        {{message | lowercase | capatilize}}
      </p>

      <ul style="list-style: none;">
        <li v-for="(car, i) in cars">{{i+1}} - {{car.model}}, скорость: {{ car.speed}}</li>
      </ul>
    </div>

    <script src="./src/js/index.js"></script>
  </body>
</html>
