body {
  box-sizing: border-box;
}

.car {
  width: 30%;
  margin: 10px auto;
  background-color: antiquewhite;
  border: 2px dashed gray;
  border-radius: 20px;
  padding: 10px 40px;
  color: brown;
  font-weight: bold;
  text-align: center;
}

.btn-center {
  display: block;
  margin: 10px auto;
}
